input, .autocomplete-input, select, textarea
	border: 1px solid #ced4da !important
	box-shadow: 0 2px 4px rgb(0 0 0 / 15%) !important
	// -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
	// -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
	// box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
	// border: 2px solid rgba(0,0,0,.3) !important
input:focus
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .6) !important
select:focus
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .6) !important
label, .col-form-label
	text-align: left !important
.form-row
	margin-bottom: 1rem
	&:last-child
		margin-bottom: 0
.form-group
	width: 100%
	margin-bottom: .5rem
	&:last-child
		margin-bottom: 0
.custom-control
	text-align: left

.col-autocomplete
	display: block !important
	z-index: 500 !important
	text-align: left !important
	
.autocomplete-input
	text-align: left !important
	display: block
	width: 100%
	height: calc(1.5em + 0.75rem + 2px)
	font-size: 1rem
	font-weight: 400
	line-height: 1.5
	color: #495057
	background-color: #fff !important
	background-clip: padding-box
	border-radius: 0.25rem !important
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out