.shadow-1
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75) !important
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75) !important
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75) !important
.shadow-2
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75) !important
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75) !important
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75) !important
	// -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
	// -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
	// box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
.shadow-3
	-webkit-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.75)
	-moz-box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.75)
	box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.75)

.shadow-4
	box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.75)
	-webkit-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.75)
	-moz-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.75)
.shadow-5
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)

.s
	box-shadow: 0 2px 4px rgb(0 0 0 / 15%) !important

	
@media screen and (max-width: 768px)
	.shadow-1-sm-only
		-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75)
		-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75)
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75)
	.shadow-2-sm-only
		-webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
		-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
		box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75)
	.shadow-4-sm-only
		box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.75)
		-webkit-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.75)
		-moz-box-shadow: 2px 0px 13px 5px rgba(0,0,0,0.75)
	.shadow-5-sm-only
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)