[class^='icon-']:before
	position: relative
	top: .1em
	margin-right: .1em
.row 
	margin-bottom: 15px
.container-fluid
	// margin: 20px 0
* 
	font-family: Nunito

.spinner-border
	margin-bottom: 3px

p 
	text-align: left

.card-header
	font-weight: bold

// modal
.modal-title
	font-weight: bold

			
.col, .col-12
	@media screen and (max-width: 768px)
		padding: 0

td 
	vertical-align: middle !important

.btn-link:focus
	text-decoration: none