.row 
	margin-bottom: 15px
label
	text-align: left
.form-row
	margin-bottom: 1rem
.form-group
	width: 100%
	margin-bottom: .5rem
.container-fluid
	// margin: 20px 0
* 
	font-family: Nunito

.spinner-border
	margin-bottom: 3px

// modal
.modal-title
	font-weight: bold

[class^='icon-']:before
	position: relative
	top: .1em
	margin-right: .1em

.col
	@media screen and (max-width: 768px)
		padding: 0

.col-autocomplete
	display: block !important
	z-index: 500 !important
	text-align: left !important